name: Build BrickController Android 

on:
  push:
    branches:
      - default
      - 'releases/**'
    paths:
      - '.github/**/*.yml'
      - 'BrickController2/*.props'
      - 'BrickController2/*.sln'
      - 'BrickController2/BrickController2/**'
      - 'BrickController2/BrickController2.Android/**'
  pull_request:
    branches:    
      - default
      - 'releases/**'
    paths:
      - '.github/**/*.yml'
      - 'BrickController2/*.props'
      - 'BrickController2/*.sln'
      - 'BrickController2/BrickController2/**'
      - 'BrickController2/BrickController2.Android/**'
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-android:
    runs-on: windows-2025
    name: BrickController Android Build
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
            
    - name: Restore Dependencies
      run: dotnet restore BrickController2/BrickController2.Android/BrickController2.Android.csproj
    - name: Build MAUI Android
      run: dotnet publish BrickController2/BrickController2.Android/BrickController2.Android.csproj -c Release -f net9.0-android --no-restore

    - name: Upload Android Artifact
      uses: actions/upload-artifact@v4
      with:
        name: brickcontroller-android-ci-build
        path: BrickController2/BrickController2.Android/bin/Release/net9.0-android/com.scn.BrickController2-Signed.apk

    - name: Upload Artifact to Release
      if: github.event_name == 'release' && github.event.action == 'published'
      run: |
        # Get the release ID
        RELEASE_ID=$(curl -s -H "Authorization: token $GITHUB_TOKEN" \
          https://api.github.com/repos/${GITHUB_REPOSITORY}/releases/tags/${GITHUB_REF_NAME} | jq -r '.id')

        # Upload the artifact
        curl -X POST \
          -H "Authorization: token $GITHUB_TOKEN" \
          -H "Content-Type: application/vnd.android.package-archive" \
          --data-binary @BrickController2/BrickController2.Android/bin/Release/net9.0-android/com.scn.BrickController2-Signed.apk \
          "https://uploads.github.com/repos/${GITHUB_REPOSITORY}/releases/$RELEASE_ID/assets?name=com.scn.BrickController2-Signed.apk"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
