name: Build BrickController WinUI 

on:
  push:
    branches:
      - default
      - 'releases/**'
    paths:
      - '.github/**/*windows.yml'
      - 'BrickController2/*.props'
      - 'BrickController2/*.sln'
      - 'BrickController2/BrickController2/**'
      - 'BrickController2/BrickController2.WinUI/**'
  pull_request:
    branches:    
      - default
      - 'releases/**'
    paths:
      - '.github/**/*windows.yml'
      - 'BrickController2/*.props'
      - 'BrickController2/*.sln'
      - 'BrickController2/BrickController2/**'
      - 'BrickController2/BrickController2.WinUI/**'
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: read

env:
  PROJECT_PATH: "BrickController2/BrickController2.WinUI/BrickController2.WinUI.csproj"

jobs:
  build-winui:
    runs-on: windows-2025
    name: BrickController WinUI Build
    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 9.0.x
            
    - name: Restore Dependencies
      run: dotnet restore ${{env.PROJECT_PATH}}

    - name: Build
      run: dotnet build ${{env.PROJECT_PATH}} -c Release -r win10-x64 -p:Platform=x64

    - name: Build MAUI WinUI App
      run: dotnet publish ${{env.PROJECT_PATH}} -c Release -r win10-x64 -p:Platform=x64 /p:GenerateAppxPackageOnBuild=true

    - name: Upload WinUI Artifact
      uses: actions/upload-artifact@v4
      with:
        name: brickcontroller-winui-ci-build
        path: .\**\AppPackages\**\BrickController*.msix

    - name: Find Current Release Info
      if: github.event_name == 'release' && github.event.action == 'published'
      id: get_release
      uses: octokit/request-action@v2.x
      with:
        route: GET /repos/${{ github.repository }}/releases/tags/${{ github.event.release.tag_name }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Artifact to Release
      if: github.event_name == 'release' && github.event.action == 'published' 
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ fromJson(steps.get_release.outputs.data).upload_url }}
        asset_path: BrickController2\BrickController2.WinUI\bin\x64\Release\net9.0-windows10.0.19041.0\win10-x64\AppPackages\BrickController2.WinUI_1.0.0.0_Test\BrickController2.WinUI_1.0.0.0_x64.msix
        asset_name: BrickController2.WinUI_1.0.0.0_x64.msix
        asset_content_type: application/vnd.ms-appx
      env:
        GITHUB_TOKEN: ${{ secrets.CI_RELEASE_ASSETS_PAT }}
